.nav {
    grid-area: nav;
    background-color: #3f424a;
    text-align:center;
    padding: 40px;
    font-size: 19px;

}

.item {
    padding: 10px 20px;
    text-decoration: none;
}

.item a.active {
    color: #91b1be;
}
.link {
    color: white;
    text-decoration: none;
}

.link:visited {
    color:white;
}
.link:hover {
    color: #91b1be;
}
